$text_color: #232323;
 
body {
    color: $text_color seagreen; /* Hello _base World */
}

* {
    box-sizing: border-box;
    /* outline helper class */
    outline: 1px solid red; 
}

pre {
    color: yellow green;
    color: $text_color;
}

body {
    color: crimson tomato;
    font-family: "Open Sans";
}