$text_color: #232323;
$text-ninjablack: #223242;
$text-eveningblack: #34495e;
 
body {
 /* Hello _base World */
}

* {
    box-sizing: border-box;
    /* outline helper class */
    /*outline: 1px solid red; */
}

body {
    font-family: "Open Sans";
}

header,
main,
footer {
    padding: 100px; /* get converted to rem in output */
    height: 50vh;
}

header {
    background: white;
}

main {
    background: #ECD2E1;
}

footer {
    background: #D9D2EC;
}